/* === MISE EN PAGE GENERAL ===*/
html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
}

header {
  margin-top: 50px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

button {
  margin: 11px;
}

@-webkit-keyframes text-animation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes text-animation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
/* Classes fonctionnelles */
.container {
  width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}

/* Titre */
h1 {
  font-size: 70px;
  font-family: "Montserrat", sans-serif;
}

h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

/* Bouton */
.button-click {
  border: none;
  margin-left: 145px;
}

.animate-trump {
  cursor: pointer;
  position: relative;
}

.animate-trump:hover {
  scale: 1.02;
}

.animate-trump:active {
  top: 2px;
}

.custom-btn {
  width: 280px;
  height: 40px;
  color: #4d383f;
  border-radius: 5px;
  padding: 5px 25px;
  font-family: "Poppins", sans-serif;
  font-size: small;
  font-weight: 200;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.btn-x2 {
  border: none;
  color: #000;
}

.btn-x2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  transition: all 0.3s ease;
}

.btn-x2:hover {
  color: #000;
  font-weight: 700;
}

.btn-x2:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-x2:active {
  top: 2px;
}

/* === HEADER ===*/
/* === MAIN ===*/
#hero {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 84%;
}
#hero h1 {
  font-family: "Montserrat", sans-serif;
  color: #4d383f;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}
#hero .inventory {
  width: 12%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}
#hero .store {
  width: 18%;
}
#hero .icon-store {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}
#hero .icon-store p {
  font-family: "Montserrat", sans-serif;
}
#hero .margin-store {
  margin-bottom: 30px;
}
#hero #money-count {
  margin: 0 auto;
  text-align: center;
}

.image-hover {
  width: 70%;
  margin: 0 auto;
  align-items: left;
}

.text-align-center {
  margin: 0 auto;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  gap: 20px;
}

.icon-features {
  margin: 0 auto;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* === FOOTER ===*/
.breaking-news {
  position: absolute;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
.breaking-news .text-title {
  position: relative;
}
.breaking-news h3.animated {
  -webkit-animation: text-animation 1s;
          animation: text-animation 1s;
}
.breaking-news h3 {
  text-transform: uppercase;
  font-size: 35px;
  margin-top: 2vh;
  position: absolute;
  left: 15%;
  z-index: 0;
  transform: translateX(0%);
}

.place-list {
  right: 0px;
}
.place-list .drop-down-list {
  display: flex;
  width: 85vw;
  right: 0px;
  color: #c6c6c6;
  z-index: 2;
  overflow: hidden;
  line-height: 1vh;
  margin-top: 10.8vh;
  position: absolute;
}/*# sourceMappingURL=styles.css.map */